<div class="jumbotron text-center">
  <h1 class="display-4">{{title}}</h1>
  <p class="lead">Write ideas for your next Goal  </p>
  <a class="btn btn-dark btn-lg" href="/ideas/add" >Add Idea </a>
   
   <img src="/public/MTIyMjk0ODIyMDEzOTIyNTg1.jpg" alt="">
  
</div>
